*{
    scroll-behavior: smooth;
  }
  body {
    background-color: #F7F3EF;
    margin: 0px;
    cursor: none;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 50px 0px 70px;
    display: flex;
    z-index: 999;
    justify-items: center;
}

  
  .logo{
    margin-right: 170px;
    width: 300px;
    height: 100px;
    background-image: url("../images/logo.png");
    background-size: 60%;
    background-repeat: no-repeat;
    margin-top: 15px;
  }
  
  ul{
      display: flex;
      gap:70px;
      justify-content: space-around;
  }
  #navbar{
    transition: all 300ms ease;
  }
  
  #navbar li{
      list-style: none;
  }
  
  #navbar a{
      font-weight: 600;
      font-size: 1.5rem;
      font-family: 'Poppins';
      color: black;
      text-decoration: none;
      transition: all 400ms ease;
    border-radius: 15px;
    
  }

  #navbar a:hover {
    background-color: white;
    padding: 0.86rem 1.51rem;
    
  }
  #con{
      background-color: #ffe55b;
      padding: 10px 20px;
      border-radius: 13px;
  }
  /*==================================================================*/
    .circle {
      height: 12px;
      width: 12px;
      border-radius: 12px;
      background-color: black;
      position: fixed;
    
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: 99999999; /* so that it stays on top of all other elements */
    }

    html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

body{
    font-family: "Poppins";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F3EF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-section{
  padding:600px 0px 200px 0px;
  background-color: #F7F3EF;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}


.inner-container{
    width: 55%;
    background-color: #F7F3EF;
    padding: 150px;
    position: relative;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
}

.inner-container::before {
    content: "";
    position: absolute;
    top: 125px;
    bottom: 0;
    left: 13%;
    transform: translateX(-50%);
    width: 1px;
    height: 300px;
    background-color:  #ffe55b;
}
.text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.us{
  width: 100%;
  margin-left: 80%;
}
.usimage{
  background: url(../images/aboutus/us.jpg);
  width: 500px;
  height: 200px;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 100px 0px 10px 0px;

}

.ustext{
  margin-bottom: 50px;
}

footer{
    margin:0;
    padding: 0px;
    width:100%;
    height: 130px;
    cursor: pointer;
    background-color: black;
    margin-top: auto;
  }
  .footer{
    padding: auto 30px;
    justify-content: center;
    justify-items: center;
    padding:30px;
    display: flex;
    gap:200px;
  }
  
  .logos{
    display: flex;
  }
  .logos img{
    width:40px;
    height:40px;
  }
  
  footer h2{
    font-size: 1rem;
    color:white;
     font-family: "Poppins"; 
     font-weight: 200;
      margin: 0; 
      text-align: center;
  }
