* {
    scroll-behavior: smooth;
    cursor: none;
}

body {
    background-color: #F7F3EF;
    margin: 0;
    cursor: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";


}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3% 0% 0 3%;
    display: flex;
    z-index: 999;
    justify-items: center;
    transition: all 300ms ease;
    max-width: 90%;

}

.logo {
    margin-right: 10%;
    width: 25%;
    height: 12vh;
    background-image: url("../images/logo.png");
    background-size: 60%;
    background-repeat: no-repeat;
    margin-top: 1.5%;
}

ul {
    display: flex;
    gap: 12%;
    justify-content: space-around;
    padding: 0;

}

#navbar li {
    list-style: none;
    white-space: nowrap;
}

#navbar a {
    font-weight: 600;
    font-size: 1.75rem;
    font-family: "Poppins";
    color: black;
    text-decoration: none;
    transition: all 400ms ease;
    border-radius: 1em;
}


#navbar a:hover {
    background-color: white;
    padding: 0.86rem 1.51rem;
}

#navbar #con {
    background-color: #ffe55b;
    padding: 8%;
    border-radius: 0.5em;
    white-space: nowrap;


}

#navbar #con:hover {
    background-color: white;
    padding: 0.86em 1.51em;
}

#menu-bar {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

#menu-bar span {
    width: 30px;
    height: 4px;
    border-radius: 25px;
    background-color: black;
    transition: all 0.3s ease-in-out;

}

.circle {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    /* so that it stays on top of all other elements */
}

footer {
    max-width: 100%;
    width: 100%;
    background-color: black;
    margin-top: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 7rem;
}


.footer {
    padding: 1% 3%;
    justify-content: center;
    justify-items: center;
    display: flex;
    gap: 15%;
}

footer h2 {
    font-size: 1rem;
    color: white;
    font-family: "Poppins";
    font-weight: 200;
    margin: 0;
    text-align: center;
}

.logos {
    display: flex;
}

.logos img {
    width: 3em;
    height: 3em;
}


.Copyright {
    text-align: center;
    padding: 1% 0%;
    width: 100%;
    font-family: "Poppins";
    font-size: 0.9375em;
    color: #ffe55b;
    background-color: #1f1f1f;
    line-height: 1.8;
    letter-spacing: 0.03125em;
    margin: 0%;
}

/* Styles for screen width 1024px or less */
@media screen and (max-width:1024px) {
    .logo {
        margin-right: 0%;
        width: 20%;
    }

    #navbar {
        padding: 3% 0% 0 1%;
    }

    #navbar ul {
        padding: 0%;
        gap: 10%;
    }

    footer {
        height: 6rem;
    }

    .footer {
        padding-bottom: 0%;
    }
}

/* Styles for screen width 768px or less */
@media screen and (max-width: 768px) {
    #navbar {
        padding: 0% 0 0 1%;
    }

    #navbar a:hover {
        background-color: white;
        padding: 0.43rem 1rem;
    }

    .logo {
        margin: 7% 0 5% 10%;
        width: 30%;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        background-size: 100%;
    }

    #navbar #con {
        background-color: transparent;
    }

    .logo.hide {
        opacity: 0;
        display: none;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #FFE135;
        padding: 0% 6%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.3s ease-in-out;

    }

    .menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .menu.hiding {
        /* Add this new class for hiding animation */
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 15%;
        padding-left: 0%;
        margin: 3% 0%;
        transition: all 0.3s ease-in-out;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }

    /* X Animation */
    #menu-bar span:nth-child(1) {
        transform: translateY(0) rotate(0deg);
    }

    #menu-bar span:nth-child(2) {
        opacity: 1;
    }

    #menu-bar span:nth-child(3) {
        transform: translateY(0) rotate(0deg);
    }

    #menu-bar.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    #menu-bar.active span:nth-child(2) {
        opacity: 0;
    }

    #menu-bar.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    #menu-bar {
        display: flex;
        margin-top: 9%;
        position: absolute;
        right: 3%;
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        transform-origin: center;
    }

    #menu-bar span {
        height: 5px;
        width: 40px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform-origin: center;
        /* Add this to keep transformation in place */
    }

    #menu-bar.active {
        right: 3%;
        position: absolute;
        margin-top: 8%;
    }
}

/* Styles for screen width 576px or less */
@media screen and (max-width: 576px) {
    .logo {
        margin: 7% 50% 5% 10%;
        width: 50%;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        background-size: 100%;
    }

    #navbar {
        padding: 0%;
        width: 100%;
        margin: 0%;
    }

    #navbar #con {
        background-color: transparent;
    }

    #navbar a:hover {
        background-color: white;
        padding: 0.43rem 1rem;
    }

    .logo.hide {
        opacity: 0;
        display: none;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #FFE135;
        padding: 0%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
    }

    .menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
        padding: 0% 10% 0% 5%;
    }

    .menu.hiding {
        /* Add this new class for hiding animation */
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    #navbar ul {
        padding: 0%;
        gap: 5%;
        justify-content: center;
        display: flex;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 6%;
        height: 35vh;
        /* Ensures vertical centering */
        padding-left: 0;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
    }

    .menu ul:hover {
        color: #555;
    }

    /* X Animation */
    #menu-bar span:nth-child(1) {
        transform: translateY(0) rotate(0deg);
    }

    #menu-bar span:nth-child(2) {
        opacity: 1;
    }

    #menu-bar span:nth-child(3) {
        transform: translateY(0) rotate(0deg);
    }

    #menu-bar.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    #menu-bar.active span:nth-child(2) {
        opacity: 0;
    }

    #menu-bar.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    #menu-bar {
        display: flex;
        margin-top: 9%;
        position: absolute;
        right: 3%;
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        transform-origin: center;
    }

    #menu-bar span {
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform-origin: center;
        /* Add this to keep transformation in place */
    }

    #menu-bar.active {
        right: 3%;
        position: absolute;
        margin-top: 10%;
    }

    #navbar a {
        font-size: 1.5em;
    }

    .footer {
        padding: 1% 0% 0% 0%;
        gap: 5%;
        width: 100%;

    }

    footer {
        position: relative;
        height: 4rem;
    }

    footer h2 {
        font-size: 0.8125em;
    }

    .logos img {
        width: 2em;
        height: 2em;
    }

    .Copyright {
        padding: 1% 0%;
    }
}

/*arrow container styles*/
.arrow-container {
    margin: 30px;
    width: 15px;
    height: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: right;
    border-radius: 50%;
    position: fixed;
    bottom: 2px;
    right: 2px;
    cursor: pointer;
    background-color: #F7F3EF;
    transition: background-color 0.3s ease;

}

/*arrow up styles*/
.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #1a1a1a;
}

/*top arrow button styles*/
#arrow-top {
    bottom: auto;
    top: 20px;
}


/*arrow styles for mobile*/

@media (max-width: 768px) {
    .arrow-container {
        margin: 50px;
        width: 15px;
        height: 15px;
        padding: 15px;
        bottom: 5px;
        right: 5px;
        z-index: 9999;
    }
}

.arrow-up {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #1a1a1a;
}